# Sampling Rig Contractors - RF

Here we will tackle the problem of contractors not having enough entries to compete with other contractors by simply making it so that we can sample with replacement.

This will help to amplify the results of the smaller contractors

In [1]:
from time import time
import numpy as np
import matplotlib.pyplot as plt

from sklearn import metrics
from sklearn.cluster import KMeans
from sklearn.datasets import load_digits
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import os
import torch
from torch import nn
from torch.autograd import Variable
import torch.nn.functional as F

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

## Establishing Path

In [2]:
path = "../SHARED/"

## Recompletion

In [3]:
# read in the data
data_rcompl = pd.read_excel(path + "RF_imputed_TO_TACC_RCOMPL.xlsx")

In [4]:
# get all the contractors
unique_rigs = data_rcompl["CONTRACTOR"].unique()

In [5]:
# find out how many entries they have
total_entries = []

for i in unique_rigs:
    temp_pd = data_rcompl[data_rcompl["CONTRACTOR"] == i]
    print(i, " has ", len(temp_pd), " elements.")
    total_entries.append(len(temp_pd))

2  has  805  elements.
0  has  259  elements.
4  has  22  elements.
3  has  403  elements.
1  has  165  elements.

In [6]:
total_entries

[805, 259, 22, 403, 165]

In [7]:
# sum the total entries and divide by the number of contractors
# to find out how many entries each contractor must have to be equal
sum_rcompl = 0

for i in total_entries:
    sum_rcompl += i

tot_samples = sum_rcompl // 5

In [8]:
tot_samples

330

In [9]:
# Now taking that sample while having replacement
new_rcompl = pd.DataFrame(columns = data_rcompl.columns)

for i in range(0, len(unique_rigs)):
    temp_pd = data_rcompl[data_rcompl["CONTRACTOR"] == unique_rigs[i]]
    temp_pd = temp_pd.sample(n = tot_samples, replace = True)
    new_rcompl = new_rcompl.append(temp_pd, ignore_index=True)

In [10]:
new_rcompl

,#WELL_NAME,CURRENT_STATUS,JOB_CATEGORY,JOB_START_DATE,JOB_END_DATE,JOB_STATUS,LIKE_KIND,PROJECT_TYPE,PHASE_START_DATE,PHASE_END_DATE,...,PROPPANT_IN_FORMATION,STG_NUMBER,STG_TOP_DEPTH,STG_BOTTOM_DEPTH,STG_CLEAN_VOLUME_PUMPED,STG_SLURRY_VOLUME_PUMPED,BOTTOM_DEPTH_TVD,Rig_Duration (days),Stg_Duration (hrs),Stage_Length (meters)
0,51,0,0,63,12,0,3,0,64,2,...,253690,14,13500,16162,8192,8464,12892,5,4,2662
1,51,0,0,63,12,0,3,0,64,2,...,255220,17,13500,16162,5196,5463,12892,5,1,2662
2,31,0,0,62,1,0,3,0,62,3,...,348265,13,13391,18363,7165,7533,12914,4,1,4972
3,44,0,0,7,13,1,2,0,8,15,...,374060,12,13154,17323,8062,8459,12876,4,2,4169
4,18,0,0,59,5,1,2,0,59,56,...,556000,16,13051,17994,9752,10352,12792,122,2,4943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,17,0,0,56,17,1,2,0,55,52,...,380640,14,13139,18294,9143,9547,12875,6,2,5155
1646,0,0,0,51,15,1,0,0,52,51,...,328240,13,11975,14975,9933,10288,11650,6,2,3000
1647,34,0,0,30,15,0,3,0,31,32,...,243840,22,12730,17098,6923,7178,12262,6,2,4368
1648,0,0,0,51,12,1,0,0,52,51,...,278160,7,11975,14975,7770,8078,11650,6,1,3000
1649,49,0,0,66,2,0,3,0,0,13,...,352280,23,13002,18072,6749,7128,12154,60,1,5070

In [12]:
# Export data
new_rcompl.to_excel(path + "RF_RCOMPL_RIG_SCALED_REPLACE.xlsx")

## Stimulation Stage

In [13]:
# read in data
data_stmstg = pd.read_excel(path + "RF_imputed_TO_TACC_STM_STG.xlsx")

In [14]:
# Take all the contractors
unique_rigs = data_stmstg["CONTRACTOR"].unique()

In [15]:
# find out how many each contractor has
total_entries = []

for i in unique_rigs:
    temp_pd = data_stmstg[data_stmstg["CONTRACTOR"] == i]
    print(i, " has ", len(temp_pd), " elements.")
    total_entries.append(len(temp_pd))

2  has  330  elements.
0  has  330  elements.
4  has  330  elements.
3  has  330  elements.
1  has  330  elements.

In [16]:
total_entries

[330, 330, 330, 330, 330]

In [17]:
# sum the total entries and divide by the number of contractors
# to find out how many entries each contractor must have to be equal
sum_stmstg = 0

for i in total_entries:
    sum_stmstg += i

print("total sum", sum_stmstg)
tot_samples = sum_stmstg // 5

total sum 1650

In [18]:
tot_samples

330

In [19]:
# Now taking that sample while having replacement
new_stmstg = pd.DataFrame(columns = data_stmstg.columns)

for i in range(0, len(unique_rigs)):
    temp_pd = data_stmstg[data_stmstg["CONTRACTOR"] == unique_rigs[i]]
    temp_pd = temp_pd.sample(n = tot_samples, replace = True)
    new_stmstg = new_stmstg.append(temp_pd, ignore_index=True)

In [11]:
# Export the data
new_stmstg.to_excel(path + "RF_STMSTG_RIG_SCALED_REPLACE.xlsx", index = False)